version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.4-stretch-node-browsers
    steps:
      - checkout
      - run: echo "A first hello"
      - run: pip install --user codecov
      - run: coverage run tests.py
      - run: codecov  --token=646448aa-c2cb-43f5-8214-da5d0ef8118f
      - run: echo "Hahahaha"
